
body {
  background-image: url(../img/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header {
  color: #cbced3;
  margin-left: 10%;
  margin-bottom: 70px;
  font-family: monospace;
  font-size: 22px;
}
h1 {
  font-size: 70px;
}

.about-me-info {
  color: black;
  font-size: 18px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding left: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
  background: rgba(20, 30, 100, 0.5);
}
 #adam {
   width: 310px;
   float: left;
   margin: 30px;
 }

 .lists {
   font-size: 15px
 }

.row {
  color: black;
  font-size: 14px;
  color: white;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  padding-left: 10px;
  background: rgba(89, 92, 96, 0.8);
  margin-bottom: 30px;
}

h3  {
  font-size: 30px;
  font-style: bold;
}

.bold{
  font-weight: bolder;
  font-size: 20px;
}

.sidebar {
  background: rgba(219, 221, 224, 0.8);
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  padding-left: 10px;
}
.sidebar-header {
  font-size: 16px;
  font-weight: bold;
}
